.blog-page h1{
    text-align: left;
}

.blog-image {
    width: 900px;  /* Fixed width */
    height: 500px; /* Fixed height */
    border: 2px solid red;
   
}

.blog-image img {
    width: 100%; /* Stretch to container width */
    height: 100%; /* Stretch to container height */
    object-fit: fill; /* Force the image to fill the container */
}


.author{
    text-align: center;
    margin: 15px auto;
}

.author p{
    font-size: 2rem;
}
.author time{
    font-size: 1rem;
}